numpy
scipy
pandas
matplotlib
plotly
pyyaml
requests
tqdm
networkx
numba

# GUI / visual
tkhtmlview

# geodata / mapas
shapely
geopandas
fiona
pyproj
rtree

# terrain
rasterio

# shapefile fallback
pyshp

# util
scikit-learn